<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stream WebRTC</title>
</head>
<body>
    <h1>trangning</h1>
    <video id="localStream" width="300" controls></video>
    <br/><br/>
    <video id="friendStream" width="300" controls></video>
    <br/><br/>
    <label>My Connection Token</label>
    <br/><br/>
    <textarea  id="txtMySignal" cols="100" rows="3"></textarea>
    <br/><br/>
    <input type="text" id="txtFriendSignal" placeholder="Your friend signal">
    <br/><br/>
    <button id="btnConnect">Connect</button>
</body>

<script src="bundle.js"></script>
</html>